name: Daily Growth Heartbeat

on:
  schedule:
    - cron: '0 8 * * *' # Runs at 8:00 AM UTC
  workflow_dispatch: # Allows manual testing

jobs:
  generate_traffic:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # This downloads your repo code
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install dependencies
        run: pip install posthog dbt-postgres
        
      - name: Run Python Simulation
        env:
          POSTHOG_API_KEY: ${{ secrets.POSTHOG_API_KEY }}
        run: python automation/daily_pulse.py
        
      # Only add this step if you want dbt to run immediately after
      - name: Run dbt models
        env:
          DBT_HOST: ${{ secrets.DBT_HOST }}
          DBT_USER: ${{ secrets.DBT_USER }}
          DBT_PASSWORD: ${{ secrets.DBT_PASSWORD }}
          DBT_DB: postgres
          DBT_SCHEMA: dbt_serafim
        run: dbt run --profiles-dir .